{% extends "base.html" %} {% block title %} Creating new blog post {% endblock%}
{% block page_content %}
<h2>New post</h2>
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    <button type="submit" class="save btn btn-secondary">Save</button>
  </form>
</div>

{% if post.thumbnail %}
<img src="{{ post.thumbnail.url }}" />
{% endif %} 
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const isPublicCheckbox = document.getElementById('isPublicCheckbox');
    const passwordLabel = document.querySelector('label[for="passwordInput"]');
    const passwordInput = document.getElementById('passwordInput');

    togglePasswordInput();

    isPublicCheckbox.addEventListener('change', function() {
      togglePasswordInput();
    });

    function togglePasswordInput() {
      if (isPublicCheckbox.checked) {
        passwordLabel.style.display = 'none';
        passwordInput.style.display = 'none';
      } else {
        passwordLabel.style.display = 'block';
        passwordInput.style.display = 'block';
      }
    }
  });
</script>
{% endblock %}
