{% extends "base.html" %}

{% block title %}
Edit Post
{% endblock %}

{% block page_content %}
<h2>Edit Post</h2>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const isPublicCheckbox = document.getElementById('isPublicCheckbox');
      const passwordLabel = document.querySelector('label[for="passwordInput"]');
      const passwordInput = document.getElementById('passwordInput');
  
      togglePasswordInput();
  
      isPublicCheckbox.addEventListener('change', function() {
        togglePasswordInput();
      });
  
      function togglePasswordInput() {
        if (isPublicCheckbox.checked) {
          passwordLabel.style.display = 'none';
          passwordInput.style.display = 'none';
        } else {
          passwordLabel.style.display = 'block';
          passwordInput.style.display = 'block';
        }
      }
    });
  </script>
  {% endblock %}