{% extends "base.html" %}

{% block page_title %}
  <h2>Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
            <small>
                {{ post.datePosted }} | Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'post_category' category.name %}">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </small>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}
